@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#numero {
  font-size: 150px;
}

#paloHeader {
  font-size: 75px;
}

#paloFooter {
  font-size: 75px;
  display: inline-block;
  transform: rotate(180deg);
}

#card {
  width: 20%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 60px;
}

.red {
  color: red;
}
h1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 60px;
}

#btn {
  border: solid 1px #c2c73a;
  background-color: #c2c73a;
  color: black;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  box-shadow: 0 0 10px rgba(194, 199, 58, 0.8);
}

#btn:hover {
  border: solid 1px black;
  background-color: black;
  color: #c2c73a;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  box-shadow: 0 0 10px rgba(194, 199, 58, 0.8);
}
